body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}




table {
    
    border-collapse:collapse;
    width: 90%;
    margin: 5%;
    
    
    
   
}
tbody{
    text-align: center;
}


th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
   
}

tr:nth-child(even) {
    background-color: #ffffff;
}

button {
    background-color:#74f59a;
    /* border: 0.3px solid rgba(0, 0, 0, 0.63); */
    border: none;
    border-radius: 5px;

    color:#3a614d;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1.4% ;
    cursor: pointer;
    margin-left: 1150px;
}

button:hover {
    color: #20362b;
}

form {
    
    height: 82px;
    background-color: #db3d52e8;
}

.container {
    width: 50%;  
    margin: 25px auto;
    padding: 2%;
}
#container {
    width: 50%;  
    margin: 25px auto;
}
body{
  width:100%;
  /* background-image: url(img/1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
 
}


#form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
#edit{
  padding-top:10px;
  padding-left: 350px;
  padding-right:200px;
  margin-inline: 20px;
}
#add{
  padding-top:12px;

}
#edit1{
  padding-top:12px;
}
.submit{
  align-items: center;
  padding-left:700px;
}
#Student_sem.form-control{
  margin-bottom: 10px;
}
#myForm1{
  padding-left:200px;
  padding-right: 300px;
}
.form-group {
    margin-bottom: 12px;
    padding-left: 200px;
    padding-right: 100px; 
}

label {
    font-weight: bold;
    background-color:#cfd58b;
  }

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

