#container {
    width: 50%;
    margin: 0 auto;
}

#form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
.header > h4 a {
    text-decoration: none;
    color: #f0f0f0; 
}
.header > h4 a:hover {
    text-decoration: underline;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0   20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #000000;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height : 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left : 20px;

}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
}

.table thead {
    background-color: #333;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table th,
.table td {
    border: 1px solid #ddd;
}

.table th {
    font-weight: bold;
    text-align: center;
}

.text-center {
    text-align: center;
}

.table-dark {
    background-color: #343a40;
    color: #fff;
}

.table-dark th,
.table-dark td {
    border-color: #454d55;
}
